node_modules
.next
.open-next
out
build
dist
coverage
*.lock
yarn.lock
package-lock.json
pnpm-lock.yaml
.husky
public
playwright-report
test-results
*.config.js
*.config.mjs
*.config.ts
next-env.d.ts
env.d.ts

